Repository Xeeynamo/sotn-decomp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @xeeynamo, @ProjectOblivion, @gamezter, @JoshSchreuder

.github/CODEOWNERS:

# Non-exhaustive list of who owns what or who wants to be notified when certain
# changes to the code base are made. Please add yourself in this.

Makefile* @xeeynamo @ProjectOblivion
.github/ @xeeynamo
bin/ @xeeynamo

src/st/dra/ @xeeynamo
src/st/pc/ @xeeynamo
src/st/lib/ @gamezter
src/st/lib_psp/ @JoshSchreuder @gamezter
src/st/mad/ @xeeynamo
src/st/sel/ @xeeynamo
src/st/st0_psp/ @JoshSchreuder
src/st/wrp/ @xeeynamo
src/st/wrp_psp/ @JoshSchreuder

tools/gfxsotn/ @xeeynamo
tools/sotn_str/ @xeeynamo
tools/sotn-debugmodule/ @xeeynamo
tools/sotn-disk/ @xeeynamo
tools/sotn_permuter/ @ProjectOblivion
tools/decompile.py @xeeynamo
tools/gfxstage.py @xeeynamo
tools/progress.py @xeeynamo
tools/symbols.py @xeeynamo
tools/sotn_diff.py @ProjectOblivion

Update `st0` PSP prologue cutscene for match (#2308)
  config/splat.pspeu.stst0.yaml
  config/splat.us.stst0.yaml
  config/symbols.pspeu.stst0.txt
  src/st/st0/3101C.c
  src/st/st0/dialogue2.h
  src/st/st0/prologue_cutscene_script.h
  src/st/st0_psp/3101C.c
Owners: @JoshSchreuder

Update reports
  functions.md
Owners: none

Update reports
  duplicates.txt
  functions.md
Owners: none

func_800EA538
  src/dra_psp/1E50.c
Owners: none

Remove overlapped symbol
  config/symbols.pspeu.dra.txt
  include/game.h
  src/dra/42398.c
  src/dra/4A538.c
  src/dra_psp/1E50.c
  src/pc/stubs.c
Owners: none

inline more strings
  src/st/lib_psp/e_shop.c
Owners: @JoshSchreuder, @gamezter
